<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Suzana_App_Restaurante</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FuncionarioController</display-name>
    <servlet-name>FuncionarioController</servlet-name>
    <servlet-class>controle.FuncionarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionarioController</servlet-name>
    <url-pattern>/FuncionarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BebidaController</display-name>
    <servlet-name>BebidaController</servlet-name>
    <servlet-class>controle.BebidaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BebidaController</servlet-name>
    <url-pattern>/BebidaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComidaController</display-name>
    <servlet-name>ComidaController</servlet-name>
    <servlet-class>controle.ComidaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComidaController</servlet-name>
    <url-pattern>/ComidaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoController</display-name>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>controle.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/ProdutoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SobremesaController</display-name>
    <servlet-name>SobremesaController</servlet-name>
    <servlet-class>controle.SobremesaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SobremesaController</servlet-name>
    <url-pattern>/SobremesaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestauranteController</display-name>
    <servlet-name>RestauranteController</servlet-name>
    <servlet-class>controle.RestauranteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestauranteController</servlet-name>
    <url-pattern>/RestauranteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>controle.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
</web-app>